# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
/*USE BooksDB;
WITH BookAverages AS (
    SELECT book_id, AVG(rating) AS avg_rating
    FROM dbo.ratings
    GROUP BY book_id
)
SELECT r.book_id, dbo.books.title, COUNT(DISTINCT r.user_id) AS num_above_avg
FROM dbo.ratings AS r
JOIN BookAverages AS ba ON r.book_id = ba.book_id
JOIN dbo.books ON r.book_id = dbo.books.book_id
WHERE r.rating > avg_rating
GROUP BY r.book_id, dbo.books.title;*/

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
/*USE BooksDB;
SELECT dbo.books.book_id
FROM dbo.books
WHERE dbo.books.book_id IN (
    SELECT r.book_id
    FROM dbo.ratings AS r
    WHERE r.rating = 1 or r.rating = 5
    GROUP BY r.book_id
);*/

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
/*USE BooksDB;
SELECT DISTINCT book_id
FROM dbo.ratings
WHERE book_id IN (
    SELECT book_id
    FROM dbo.ratings
    GROUP BY book_id
    HAVING SUM(CASE WHEN rating = 1 THEN 1 END ) > 1000
    AND SUM(CASE WHEN rating = 5 THEN 1 END) > 1000
);*/

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
/*USE BooksDB;
SELECT dbo.books.book_id
FROM dbo.books
WHERE language_code = 'en-US'
EXCEPT
SELECT dbo.books.book_id
FROM dbo.books
WHERE language_code = 'en-GB'*/

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
/*USE BooksDB;
SELECT dbo.tags.tag_id, dbo.tags.tag_name 
FROM dbo.tags
JOIN dbo.book_tags ON dbo.tags.tag_id = dbo.book_tags.tag_id
GROUP BY dbo.tags.tag_id, dbo.tags.tag_name
HAVING COUNT(dbo.book_tags.goodreads_book_id ) > 1000;*/