# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE joe_henke.planned_makes (
    projectID int IDENTITY(1,1) PRIMARY KEY,
    itemName varchar(255),
    woodType varchar(255),
    costOfWood DECIMAL
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO joe_henke.planned_makes (itemName,woodType,costOfWood)
VALUES ('Coffee Table', 'Oak', 120.99);
INSERT INTO joe_henke.planned_makes (itemName,woodType,costOfWood)
VALUES ('Desk', 'Oak',245.78);
INSERT INTO joe_henke.planned_makes (itemName,woodType,costOfWood)
VALUES ('Kitchen Table', 'Cherry', 389.25);

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE joe_henke.planned_makes
SET woodType = 'Cherry'
WHERE projectId = 2;

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM joe_henke.planned_makes
WHERE itemName = 'Coffee Table';

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE joe_henke.planned_makes