# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

balt_data = pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
boston_data = pd.read_csv("boston_9-24-2016_9-30-2017.csv")
ny_data = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
phil_data = pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")

chicago_data = pd.read_csv("chicago_9-24-2016_9-30-2017.csv")
detroit_data = pd.read_csv("detroit_9-24-2016_9-30-2017.csv")
stl_data = pd.read_csv("st-louis_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [2]:
# Clean your data here!
col_list = ['Origin District', 'Type', 'Environment', 'Quality', 'Condition', 'Grade', 'Appearance', 'Storage', 'Crop', 'Color', 'Trans Mode']

balt_data = balt_data.drop(labels = col_list, axis=1)
boston_data = boston_data.drop(labels = col_list, axis=1)
ny_data = ny_data.drop(labels = col_list, axis=1)
phil_data = phil_data.drop(labels = col_list, axis=1)

chicago_data = chicago_data.drop(labels = col_list, axis=1)
detroit_data = detroit_data.drop(labels = col_list, axis=1)
stl_data = stl_data.drop(labels = col_list, axis=1)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [11]:
# Combine the four dataframes into one!
northeastregion = pd.concat([balt_data, boston_data, ny_data, phil_data])
northeastregion.tail()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,SHELLACKED,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,SHELLACKED,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,SHELLACKED,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,SHELLACKED,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [4]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeastregion.groupby("Unit of Sale").agg(mean_low=("Low Price", 'mean'), mean_high=("High Price", 'mean'))

                mean_low   mean_high
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [5]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeastregion.groupby("City Name").count().groupby("City Name").agg(avg_pumpkins_each_terminal=("Variety", 'mean'))
#northeastregion["Variety"].value_counts()

              avg_pumpkins_each_terminal
City Name
BALTIMORE                          151.0
BOSTON                             352.0
NEW YORK                           112.0
PHILADELPHIA                        57.0

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [6]:
# Try the bonus mission if you have time!